language: android
jdk: oraclejdk8
install: true
android:
  components:
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools
    
    # The BuildTools version used by your project
    - build-tools-25.0.2
    
    # The SDK version used to compile your project
    - android-25
    
     # Additional components
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository

    # Additional components
    #- extra-google-google_play_services
    #- addon-google_apis-google-19

    # Specify at least one system image, if you need to run emulator(s) during your tests
    #- sys-img-armeabi-v7a-android-19
    #- sys-img-x86-android-17

  licenses:
    - '.+'
    
  before_install:
    - chmod +x gradlew
